/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.neutralLocation {
    color: black;
}

.t-22{
    font-size: 22px;
}

.t-18{
    font-size: 18px;
}

.t-17{
    font-size: 17px;
}

.white-glass{
    color: white;
}

ul {
    padding-left: 0;
    margin: 0;
}

.only-mobile{
    display: none;
}

.only-desktop{
    display: flex;
}

/****** Header ***********/

.menu {
    display: flex;
    width: 344px;
    height: 35px;
    justify-content: space-evenly;
    gap: 68px;
}

.menu li{
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.booki-header{
    display: flex;
    justify-content: space-between;
}

.logo-container{
    padding: 30px;
    padding-left: 0;
}

.booki-header img{
    width: 61px;
    height: 19px;
    cursor: pointer;
}

.links-header{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.selected{
    border-top: solid 2px var(--main-color);
}

.selected a{
    color: var(--main-color);
}

/****** Research and Filters ***********/

.research-and-filters{
    margin-top: 33px;
}

.research-and-filters-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.research-and-filters-subtitle{
    margin: 0;
}


.research{
    margin-top: 35px;
    border: solid 1px var(--main-bg-color);
    border-radius: 15px;
    width: 377px;
    height: 50px;
}

.research-icon{
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 13.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.research input{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: none;
    width: 50.8%;
}

.research button {
    background-color: var(--main-color);
    width: 35.7%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border : none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.filters{
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.filters-buttons{
    display: flex;
    gap: 15px;
}

.button-content{
    border : 2px solid var(--main-bg-color);
    background: none;
    height: 38px;
    padding: 4px 19px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.button-content:hover{
    background-color: var(--filter-bg-color);
}

.filters-title{
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    display: flex;
}

.infobar{
    display: flex;
    gap: 10px;
    margin-top: 35px;
    align-items: center;
}

.infobar-content{
    margin: 0;
}

.infobar-icon-border {
    width: 24px;
    height: 24px;
    border: solid 1px var(--main-bg-color);
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0 30px;
}

.hebergements-cards .card {
    width: 29.63%;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.show-more{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    width: 100%;
    margin-top: 33px;
    padding: 30px;
    box-sizing: border-box;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 0 30px;
}

.activites-cards .card {
    width: 23.3%;
    margin-top: 33px;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin: 0;
    padding: 20px 19px;
}

/****** Footer ***********/

.booki-footer{
    display: flex;
    gap: 30px;
    margin-top: 33px;
    padding: 30px;
    background-color: #F2F2F2;
}

.column-footer{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.column-footer li{
    list-style-type: none;
}

.footer-list-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
    margin-top: 1em;
}

.column-footer a{
    color: black;
    text-decoration: none;
}

.column-title{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

    .filters{
        flex-direction: column;
        gap: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .only-mobile{
        display: flex;
    }

    .only-desktop{
        display: none;
    }

    .booki-header{
        flex-direction: column;
    }

    .menu{
        width: 100%;
        gap: 0;
    }

    .menu li {
        text-align: center;
    }

    .links-header{
        width: 50%;
        padding-top: 0;
        padding-bottom: 16px;
        border-bottom: solid 2px var(--main-bg-color);
    }

    .selected{
        border-top: none;
        border-bottom: solid 2px var(--main-color);
    }

    .logo-container{
        text-align: center;
    }

    .main-container{
        padding: 0;
    }

    .research-and-filters{
        padding: 0 20px;
    }

    .research{
        margin: auto;
        margin-top: 35px;
        width: auto;
    }

    .research-icon{
        width: 13.3%;
    }

    .research input{
        width: 73.4%;
    }

    .research button{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 0;
        width: 13.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters-buttons{
        flex-wrap: wrap;
        gap: 10px;
    }

    .button-content{
        width: 120.5px;
        white-space: nowrap;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires section.hebergements{
        background-color: white;
    }

    .hebergements-cards{
        flex-direction: column;
    }

    .hebergements-cards .card{
        width: 100%;
    }

    .populaires{
        order: -1;
        margin-top: 0;
    }
    
    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards .card{
        width: 100%;
    }

    .activites-cards{
        flex-direction: column;
    }

    .activites-cards .card{
        width: 100%;
    }

    .activites-cards img{
        height: 141px;
    }

    .booki-footer{
        flex-direction: column;
    }

    .column-footer{
        width: 100%;
    }
}